
/* reset ================================ */


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


* {
  box-sizing: border-box;
  float: inherit;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  width: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト ================================ */
body {
  color: #2d3133;
  background-color: #3ecdc6;
  margin: 0;
  min-height: 1vh;
}

/* ヘッダー ================================ */

header{
color:white;
height: 80px;
width: 100%;
display: flex;
background-color: blue;
z-index: 1;
}

.header-logo {
  float: left;
  padding-left: 20px;
  line-height: 75px;
  width:20%;
}

.header-logo a {
  font-size: 50px;
  color: aliceblue;
}

.gap{
width:50%;
}

.header-menus{
width: 30%;
line-height: 75px;

}

.headder-menu{
  color: aliceblue;
  text-align: right;
  padding-top: 30px;
  padding-right:50px;
}
.headder-menu p{
  display: inline-block; 
}