// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 投稿画面実装================================ */

.container{
  width: 1200px;
  min-height:200px; 
  background-color:white;
  text-align:center;
  margin: 30px auto;


}
.box{
  min-height:200px; 
  width: 100%;
  
}

.box ul a{
font-size: 15px;
}

.box span{
  display:inline-block;
  text-align: left;
  width: 100%;
 
}


.box-text{
  text-align:center;
  min-height: 200px;
  border : 1px solid #FF9900;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 2;
  
}

.content__block{
  position: absolute;
  right: 0;
  bottom:0;

}

/* フォーム================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 16px;
  letter-spacing: 2px;
}
